<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <link rel="stylesheet" href="/" />
  <link rel="stylesheet" href="{% static 'css/foodle.css' %}">
  <title>{% block title %}ReveFood{% endblock %}</title>
</head>

<body>
  <div class="wrapper">
    <div class="searchbar" style="text-align:center; padding:100px 0 0 0;">
      <form action="/search/">
          <a href="/"><img alt="reve" src="..\..\static\images\foodle.png" style="width:500px;"></a><br>
          <input id="search_words" type="text" name="search_words" value="{{ search_words }}" autofocus>
          <p style="font-family:'Hanna'; font-size:40px; letter-spacing:5px; color:#999999; padding-top:50px;">오늘도 먹자.</p>
      </form>
    </div>
  </div>
  <footer class="footer">
    <p>Copyright @2016 Bitcamp Windows 42 reve</p>
  </footer>
</body>
</html>
